src/test/resources/test-resources/models/test-cells.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:mf="http://dani.calidos.com/morfeu/metadata"
		   >

	<xs:include schemaLocation="test-types.xsd" />
	
	<xs:annotation>
		<xs:documentation>
		XML Schema types used to test the system
		</xs:documentation>
	</xs:annotation>
	
	
	<xs:complexType name="testCell">
		<xs:annotation>
			<xs:appinfo>
				<mf:desc>testCell desc</mf:desc>
			</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="text" type="textField" />
		<xs:attribute name="number" type="numberField" />
	</xs:complexType>
		
	
	<xs:complexType name="colCell">
		<xs:annotation>
			<xs:appinfo>
				<mf:desc>colCell desc</mf:desc>
				<mf:presentation>COL-WELL</mf:presentation>
				<mf:thumb>assets/images/col-thumb.svg</mf:thumb>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="data" type="testCell" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="data2" type="testCell" minOccurs="0" maxOccurs="1"/>
			<xs:element name="row" type="rowCell" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="size" type="colField" />
	</xs:complexType>
		   
		   
	<xs:complexType name="rowCell">
		<xs:annotation>
			<xs:appinfo>
				<mf:desc>rowCell desc</mf:desc>
				<mf:presentation>ROW-WELL</mf:presentation>
				<mf:thumb>assets/images/row-thumb.svg</mf:thumb>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
				<xs:element name="col" type="colCell" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="number" type="numberField" />
	</xs:complexType>
	
	
</xs:schema>