src/test/resources/test-resources/models/test-model.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   >

	<xs:annotation>
		<xs:documentation>
		Description goes here
		</xs:documentation>
	</xs:annotation>

	 <xs:include schemaLocation="test-types.xsd" />
	 <xs:include schemaLocation="test-cells.xsd" />
	
	<xs:element name="test">
		<xs:complexType>
			<xs:sequence>
				<xs:choice minOccurs="0" maxOccurs="unbounded">
                    <xs:element name="row" type="rowCell" minOccurs="0" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
			<xs:attribute name="text" type="textField" />
		</xs:complexType>
	</xs:element>

</xs:schema>
