src/test/resources/test-resources/models/test-cells.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
		   xmlns:mf="http://dani.calidos.com/morfeu/metadata"
		   >

	<xs:include schemaLocation="test-types.xsd" />
	
	<xs:annotation>
		<xs:documentation>
		XML Schema types used to test the system
		</xs:documentation>
	</xs:annotation>


	<xs:complexType name="testCell">
		<xs:annotation>
			<xs:appinfo>
				<mf:metadata>
					<mf:desc>testCell desc</mf:desc>
					<mf:default-value name="@number">11</mf:default-value>
					<mf:transform case="obj-to-yaml" type="directive">LISTS-NO-PLURAL</mf:transform>
					<mf:transform case="yaml-to-xml" type="directive">LISTS-NO-PLURAL</mf:transform>
				</mf:metadata>
			</xs:appinfo>
		</xs:annotation>
		<xs:attribute name="text" type="textField" />
		<xs:attribute name="number" use="required" type="numberField" />
	</xs:complexType>


	<xs:complexType name="colCell">
		<xs:annotation>
			<xs:appinfo>
			<mf:metadata>
				<mf:desc>Column, can accept content</mf:desc>
				<mf:presentation>COL-WELL</mf:presentation>
				<mf:thumb>assets/images/col-thumb.svg</mf:thumb>
			</mf:metadata>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
		<!--      	<xs:choice maxOccurs="unbounded"> to disregard order -->
			<xs:element name="stuff" type="textContent" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="data" type="testCell" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="data2" type="testCell" minOccurs="0" maxOccurs="2"/>
			<xs:element name="row" type="rowCell" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="size" use="required" type="colField" />
	</xs:complexType>
		   
		   
	<xs:complexType name="rowCell">
		<xs:annotation>
			<xs:appinfo>
				<mf:metadata>
					<mf:desc>rowCell desc</mf:desc>
					<mf:presentation>ROW-WELL</mf:presentation>
					<mf:thumb>assets/images/row-thumb.svg</mf:thumb>
				</mf:metadata>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
				<xs:element name="col" type="colCell" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:attribute name="number" type="numberField" />
	</xs:complexType>
	
	
</xs:schema>